* {
    transition: .4s;
}

/* socialmedia btn */
.section-title {
    text-transform: capitalize;
}

.icon-bar {
    position: fixed;
    z-index: 11;
    top: 60%;
    right: 0px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 12px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
    background: #3B5998;
    color: white;
}

.instagram {
    background: #962fbf;
    color: white;
}

.youtube {
    background: #bb0000;
    color: white;
}

/* slider */
.ltn__slider-area.ltn__slider-3.section-bg-1 .slick-prev.slick-arrow,
.ltn__slider-area.ltn__slider-3.section-bg-1 .slick-next.slick-arrow {
    top: 50%;
}

.ltn__slide-item.ltn__slide-item-2.ltn__slide-item-3-normal---.ltn__slide-item-3.bg-image.bg-overlay-theme-black-60--- {
    background-size: cover;
}

.ltn__header-top-area {
    border-bottom-color: #1ca553 !important;
}

.ltn__social-media i {
    color: #1ca553 !important;
}

.ltn__product-item.ltn__product-item-3.text-center {
    border-radius: 10px;
    background-color: #fff;
}

.product-img img {
    transition: all ease 1.5s;
}

.ltn__product-item:hover .product-img img {
    scale: 1.25;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.product-btn {
    border: 1px solid #1ca553;
    border-radius: 10px;
}

.product-btn:hover {
    box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
}

.ltn__about-us-area.bg-image-left-before::before {
    background-image: url('../image/about-us/about-health-medical-medicine.jpg') !important;
}

.ltn__footer-area .ltn__social-media ul li i {
    color: #5c727d !important;
}

.theme-btn-1 {
    border-color: #1ca553 !important;
}

.slick-next.slick-arrow,
.slick-prev.slick-arrow {
    top: 25%;
    background-color: #1ca553;
    border: 0px !important;
    color: #fff !important;
}

.slick-next.slick-arrow:hover,
.slick-prev.slick-arrow:hover {
    background-color: #fff;
    color: #1ca553 !important;
    border: 1px solid #1ca553 !important;
}

/* categories carousel button */
/* .slick-arrow-1 .slick-arrow{
    top: 50% !important;
} */
.ltn__copyright-menu ul li {
    font-family: var(--ltn__body-font);
}

/* product  */
.product-title {
    font-size: larger;
}

@media screen and (max-width: 500px) {

    .ltn__utilize.ltn__utilize-cart-menu.ltn__utilize-open .mini-cart-sub-total .theme-btn-2.btn.btn-effect-2,
    .ltn__utilize.ltn__utilize-cart-menu.ltn__utilize-open .mini-cart-sub-total .theme-btn-1.btn.btn-effect-1,
    .modal-product-info .theme-btn-1.btn.btn-effect-1,
    .modal-product-info .theme-btn-2.btn.btn-effect-2 {
        width: 100% !important;
        margin: 5px 0 !important;
    }
}

.ltn__copyright-design p {
    font-size: 14px;
    font-weight: bold;
}

.ltn__product-item .product-img:after {
    transition: .4s;
}

.ltn__product-item:hover .product-img:after {
    content: "";
    background-color: hsla(0, 0%, 0%, 0.22);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.product-hover-action {
    z-index: 1;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* about.html */
.ltn__feature-area .ltn__feature-item .ltn__feature-icon-title .ltn__feature-icon span img {
    height: 80px;
    width: 80px;
}

.ltn__breadcrumb-area::before {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #00000096;
}

.ltn__breadcrumb-area .ltn__breadcrumb-inner .page-title {
    color: #fff;
}

.ltn__breadcrumb-list ul li {
    color: #fff;

}

.ltn__breadcrumb-list ul li:last-child {
    color: #fff;

}

.ltn__contact-address-item-3 .ltn__contact-address-icon img {
    max-width: 100%;
}

.ltn__contact-address-item-3 .ltn__contact-address-icon {
    margin-bottom: 0px !important;
}

.ltn__contact-address-item-3 {
    padding: 0px;
}

#map {
    height: 550px;
    width: 100%;
}

/* ///////////////////////////////////////// */
/* product detail */
.product-detail-section .slick-next.slick-arrow,
.product-detail-section .slick-prev.slick-arrow {
    display: none;
    visibility: hidden;
}

.prouct-detail-section-title {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.prouct-detail-section-title-product-name::before {
    content: ' > ';
}

/* social media icons container */
.social-icons {
    padding: 0;
    list-style: none;
}

.social-icons li {
    display: inline-block;
}
/* END social media icons container */
.blog-slider-details .slick-next.slick-arrow, .slick-prev.slick-arrow {
    top: 50% !important;
} 

section.ltn__blog-area.blog-details.py-5 .ltn__blog-brief {
    padding: 30px 0 0px !important;
}
 
.login-section .section-title-area {
    padding-bottom: 0px;
}
.login-section .contact-form-box {
    padding: 0px;
    position: relative;
    z-index: 1;
}
.register-area .section-title-area {
    margin-bottom: 0px;
}
.bg-light{background-color: #f3f3f3;}
.xzoom-preview{z-index: 10;}
.xzoom-lens{transition: 0s;}
.xzoom-preview{background-color: #fff !important;}
.mapboxgl-marker{width: 20px;}
.ltn__contact-address-item{padding: 30px;}
.ltn__contact-address-item p{margin-bottom: 0 !important;}
.blog-details-bg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}